<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.family.kitchen.user.mapper.UserMapper">
	
	<select id="selectUserById" parameterType="String" resultType="com.family.kitchen.user.po.User">
		select * from users
		<where>
			users.userid = #{id}
		</where>
	</select>
	
	<select id="selectUserByUsername" parameterType="String" resultType="com.family.kitchen.user.po.User">
		select * from users
		<where>
			users.username = #{username}
		</where>
	</select>
	
	<select id="selectUserByEmail" parameterType="String" resultType="com.family.kitchen.user.po.User">
		select * from users
		<where>
			users.email = #{email}
		</where>
	</select>
	
	<insert id="insertUserList" parameterType="ArrayList">
		insert into users values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.userid}, #{item.username}, #{item.password}, #{item.email}, #{item.phonenumber}, #{item.code}, #{item.state}, #{item.show}, #{item.vip})
		</foreach>
	</insert>
	
	<insert id="insertSingleUser" parameterType="com.family.kitchen.user.po.User">
		insert into users
		values (#{userid}, #{username}, #{password}, #{email}, #{phonenumber}, #{code}, #{state}, #{show}, #{vip})
	</insert>
	
	<select id="selectSingleUser" parameterType="com.family.kitchen.user.web.vo.UserVo" resultType="com.family.kitchen.user.ao.UserAo">	
		select * from users
		<where>
			<if test="userid != null and userid != ''">
				userid = #{userid}
			</if>
			<if test="username != null and username != ''">
				username = #{username}
			</if>
			<if test="email != null and email != ''">
				email = #{email}
			</if>
			<if test="phonenumber != null and phonenumber != ''">
				phonenumber = #{phonenumber}
			</if>
			<if test="password != null and password != ''">
				password = #{password}
			</if>
		</where>
		
	</select>
	
</mapper>