<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.family.kitchen.back.combo.mapper.BackComboMapper">

	<select id="selectAll" parameterType="com.family.kitchen.combo.web.vo.ComboVo" resultType="com.family.kitchen.combo.ao.ComboAo">
		select * from combo
		<where>
			<if test="categoryid != null and categoryid != ''">
				categoryid = #{categoryid}
			</if>
		</where>
		order by
		<choose>
			<when test="ordercolumn != null and ordercolumn != ''">
				${ordercolumn}
			</when>
			<otherwise>
				comboprice
			</otherwise>
		</choose>
		<choose>
			<when test="ordermethod != null and ordermethod != ''">
				${ordermethod}
			</when>
			<otherwise>
				asc
			</otherwise>
		</choose>
		limit #{minnum},#{pagesize}
	</select>

	<select id="selectCount" parameterType="com.family.kitchen.combo.web.vo.ComboVo" resultType="Integer">
		select count(*) from combo
		<where>
			<if test="categoryid != null and categoryid != ''">
				categoryid = #{categoryid}
			</if>
		</where>
	</select>
	
	<select id="selectSingleComboByPri" parameterType="String" resultType="com.family.kitchen.back.combo.ao.BackComboAo">
		select * from combo where comboid = #{comboid}
	</select>
	
	<insert id="insertSingleCombo" parameterType="com.family.kitchen.back.combo.po.BackCombo">
		insert into combo(comboid,comboname,comboimage,combodescription,comboprice,combonum,comborenum,categoryid) 
		values
		(#{comboid}, #{comboname}, #{comboimage}, #{combodescription}, #{comboprice}, #{combonum}, #{comborenum}, #{categoryid})
	</insert>
	
</mapper>