<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.family.kitchen.combo.mapper.ComboMapper">
	
	<select id="selectAll" parameterType="com.family.kitchen.combo.web.vo.ComboVo" resultType="com.family.kitchen.combo.ao.ComboAo">
		select * from combo
		order by
		<choose>
			<when test="ordercolumn != null and ordercolumn != ''">
				${ordercolumn}
			</when>
			<otherwise>
				comboprice
			</otherwise>
		</choose>
		<choose>
			<when test="ordermethod != null and ordermethod != ''">
				${ordermethod}
			</when>
			<otherwise>
				asc
			</otherwise>
		</choose>
		limit #{minnum},#{pagesize}
	</select>
	
	<insert id="insertComboList" parameterType="ArrayList">
		insert into combo(comboid,comboname,comboimage,combodescription,comboprice,combonum,comborenum,categoryid) values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.comboid}, #{item.comboname}, #{item.comboimage}, #{item.combodescription}, #{item.comboprice}, #{item.combonum}, #{item.comborenum}, #{item.categoryid})
		</foreach>
	</insert>
	
	<select id="selectCount" resultType="Integer">
		select count(1) from combo
	</select>
	
</mapper>